@model ubs.brasil.qualitycontrol.comum.entidade.LimitePerfilRisco

@{
    ViewBag.Title = "Limite LimiteExceção";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="barra_principal">@ViewBag.Title</hgroup>
        </div>
    </section>
}

<hgroup class="title">
    <h1>Cadastro de Limites - Exceção</h1>    
</hgroup>

<div style="height: 500px;">

    @using (Html.BeginForm("LimiteExcecaoOperacao",
            "LimiteExcecao",
            FormMethod.Post,
            new { name = "formLimiteExcecaoOp", id = "formLimiteExcecaoOp" }                
            ))
    {      
    
        <div style="height: 50px; padding-bottom:0;">
            @Html.Hidden("acao", "")
            <section id="deForm">
                <ul id="campos">    
                    <li>Data</li>  
                    <li>@Html.TextBoxFor(m => m.dtIniVigencia, new { onKeyPress = "return formatar(this, '##/##/####')", maxlength = 10 })</li>              
                </ul>
            </section>
        </div> 
            
        <hr class="hrSeparador" style="margin-top: 15px;" />        
             
        //Exibição das mensagens de erro        
        <div class="divErro">
            <span id="spanMensagem" class="message-error">
                @if (Model != null)
                {
                    @Model.Msg       
            
                    if (Model.Msg.Equals("* Limite Diário - Exceção alterado.") || Model.Msg.Equals("* Limite Diário - Exceção excluído."))
                    {
                        <script>
                            document.getElementById("dtIniVigencia").value = "";                            
                        </script>
                    }
                }
            </span>                
        </div>         
        
        <div>
            <table width="100%">        
            @if (string.IsNullOrEmpty(Request.QueryString["codLimitePerfilRisco"]))
            {
                @Html.Action("LimitePerfilRiscoList", new { ReturnUrl = ViewBag.ReturnUrl });
            }
            else
            {
                @Html.Action("LimiteExcecaoOperacaoList", new { ReturnUrl = ViewBag.ReturnUrl });
            }
            </table>      
        </div>          
    
            if (string.IsNullOrEmpty(Request.QueryString["codLimitePerfilRisco"]))
            {
        <div class="divBotoesOperacao" style="padding-left:200px;">        
            <section id="botoes">
                <ul id="campos">                        
                    <li><input type="button" id="btnSubmit" value="Salvar" class="btnSubmit" onclick="fnValidaLimiteOperacaoForm('incluir', 'excecao');"/></li>
                </ul>     
            </section>       
            <section id="botoes">
                <ul id="campos">                        
                    <li><input type="button" value="Cancelar" class="btnSubmit" onclick="location.href='@Url.Action("LimiteExcecao", "LimiteExcecao")'"/></li>                 
                    </ul>        
            </section>                            
        </div> 
            }
            else
            {
        <div class="divBotoesOperacao" style="padding-left:70px;">        
            <section id="botoes">
                <ul id="campos">                        
                    <li><input type="button" id="btnSubmit" value="Salvar" class="btnSubmit" onclick="fnValidaLimiteOperacaoForm('alterar', 'excecao');"/></li>
                </ul>     
            </section>      
            <section id="botoes">
                <ul id="campos">                                    
                    <li><input type="button" id="btnExcluir" value="Excluir" class="btnSubmit" onclick="fnValidaLimiteOperacaoForm('excluir', 'excecao');"/></li>
                </ul>     
            </section>               
            <section id="botoes">
                <ul id="campos">                        
                    <li><input type="button" value="Cancelar" class="btnSubmit" onclick="location.href='@Url.Action("LimiteExcecao", "LimiteExcecao")'"/></li>                 
                    </ul>        
            </section>               
        </div> 
            }
    }

</div>

@Styles.Render("~/Content/css")   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryvalform")        
    @Scripts.Render("~/bundles/jquerymask")        
}