@model ubs.brasil.qualitycontrol.comum.entidade.Processamento

@{
    ViewBag.Title = "Carga Geral";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="barra_principal">@ViewBag.Title</hgroup>
        </div>
    </section>
}

<hgroup class="title">
    <h1>Carga Geral</h1>    
</hgroup>

<script type="text/javascript">
    function fnSplitDescricao(descCargas, table, hidden) {
        descCargas = descCargas.replace(/amp;/g, "");

        var descCargasSplit = "";
        if (descCargas.indexOf("|") != -1)
            descCargasSplit = descCargas.split("|");

        if (descCargasSplit != "") {
            var countTR = 0;

            for (var i = 0; i < descCargasSplit.length; i++) {
                if (hidden == "hdnCarteirasProcessamento")
                    fnInsRow(table, countTR++, "Carteira: " + descCargasSplit[i], "Concluído");
                else
                    fnInsRow(table, countTR++, descCargasSplit[i], "Concluído");
            }
        }

        eval(document.getElementById(hidden)).value = descCargas;
    }

    //Insere linha na tabela
    function fnInsRow(tableName, posRow, textTDLeft, textTDRight) {
        var x = document.getElementById(tableName).insertRow(posRow);
        x.className = "tabelaLimiteDiarioRegistro";
        x.style.width = "500px";
        x.style.border = "0px";

        var y = x.insertCell(0);
        y.style.width = "282px";
        y.style.padding = "5px";

        y.innerHTML = unescape(textTDLeft);

        var z = x.insertCell(1);
        z.style.width = "218px";
        z.style.textAlign = "center";
        z.innerHTML = unescape(textTDRight);
    }

    //Desabilita todos os objetos da tela
    function fnDesabilitaObjetos() {
        document.getElementById('divSobreposicao').style.display = "block";

        var d = document.getElementById('divPrincipal').getElementsByTagName('input');
        for (var i = 0; i < d.length; i++) {
            d[i].readonly = !d[i].readonly;
        }
    }

    function fnFecharPopStatus() {
        window.location.href = "../Carga/CargaGeral";
    }
</script>

<div id="divSobreposicao" class="divSobreposicao"></div>

<div id="divPrincipal" class="divPrincipal">

    @using (Html.BeginForm("CargaGeral",
            "Carga",
            FormMethod.Post,
            new
            {
                name = "formCargaGeral",
                id = "formCargaGeral"
            }
            ))
    {       
    
        <div style="height: 60px; padding-bottom:0;">  
            @Html.Hidden("acao", "")      
            @Html.Hidden("chkProcessar", "")      
            @Html.Hidden("msgHidden", "")                          
            @Html.Hidden("carga", "")      
            @Html.Hidden("ordem", "")    
            @Html.Hidden("hdnCodCarga", "")    
            @Html.Hidden("hdnCodProcessamento", "")   
            <section id="deForm">
                <ul id="campos">    
                    <li>Data</li>  
                    <li>@Html.TextBoxFor(m => m.dtResultado, new { @Value = "", onKeyPress = "return formatar(this, '##/##/####')", maxlength = 10 })</li>            
                </ul>       
            </section>                                 
            <section id="botaoPesquisaForm">
                <ul id="campos">            
                    <li style="color: #efeeef">0</li>
                    <li><input type="button" id="btnProcessar" value="Processar" class="btnSubmit" onclick="fnValidaCargaForm();" /></li>
                </ul>     
            </section>    
        </div>                   
        
        <hr class="hrSeparador" />             
        
        //Exibição das mensagens de erro
        <div class="divErro">
            <span id="spanMensagem" class="message-error">                
            @if (Model != null)
            {                                
                @Model.Msg                
            }
            </span>                            
        </div>                  
        
        //Exibição da Grid
        @Html.Action("CarteiraGrid", new { ReturnUrl = ViewBag.ReturnUrl })             
        
            //Status do Processamento
        <div id="divStatusProc" class="divStatus" style="height:270px; overflow-y: hidden;">
            <table id="tblStatusProc" style="width:100%; margin: 0px;">
                <tr class="tabelaLimiteDiarioTopo" style="background-color: Gray; border: 0;">
                    <td style="width: 500px; text-align: center; padding: 5px; color: #ffffff;" colspan="2">Monitoração de Processamento</td>                   
                </tr>
                <tr class="tabelaLimiteDiarioTopo" style="border: 0;">
                    <td style="width: 250px; text-align: center;">Task</td>
                    <td style="width: 250px; text-align: center;">Status</td>
                </tr>
                <tr id="trCarga" class="tabelaLimiteDiarioRegistro" style="background-color: #ffffff; border: 0; display: block;">
                    <td style="width: 250px; padding: 5px;">Processamento Carga</td>
                    <td style="width: 250px; text-align: center;" id="tdStatusCarga"></td>
                </tr>
                <tr id="trCargaDetalhe" class="tabelaLimiteDiarioRegistro" style="border: 0; display: block;">
                    <td id="tdCargaDetalhe" style="width: 500px;" colspan="2">
                        <div id="divStatusCargaDetalhe" class="divDetalhe" style="overflow-y: scroll;">
                            <table id="tblStatusCargaDetalhe" style="width:100%; margin: 0px;"></table>
                            <input type="text" id="txtCargaFocus" style="width: 1px; height: 1px; border: 0; margin: 0; padding: 0; opacity: 0; filter: alpha(opacity=0);" />
                        </div>
                    </td>                      
                </tr>

                @Html.Hidden("hdnDescLogCarga", "")    
                @Html.Hidden("hdnCarteira", "")    
                @Html.Hidden("hdnCarteirasProcessamento", "")                    

                <tr id="trBotao" class="tabelaLimiteDiarioTopo" style="background-color: #e2e2e2; border: 0; display: none;">                    
                    <td align="center" colspan="2" id="tdBotao" style="padding-top:20px;"><input type="button" value="Fechar" class="btnSubmit" onclick="fnFecharPopStatus();"/></td>
                </tr>
            </table>             
        </div>                                          
    }     
</div>

@if (Model != null && Model.acaoProcessamento != null)
{
    if (Model.acaoProcessamento.Equals("Carga iniciada"))
    {                
        <script type="text/javascript">
            fnDesabilitaObjetos();

            document.getElementById('trBotao').style.display = "none";
            document.getElementById('tdBotao').style.display = "none";

            document.getElementById('divStatusProc').style.display = "block";
            document.getElementById('tdStatusCarga').style.fontWeight = "bold";
            document.getElementById('tdStatusCarga').innerHTML = "Iniciado";

            document.getElementById('txtCargaFocus').focus();

            if ('@Model.ordem' != "0") {
                var descCargas = '@Model.txtDescLogCargas';

                descCargas = descCargas.replace(/amp;/g, "");

                var descCargasSplit = "";
                if (descCargas.indexOf("|") != -1)
                    descCargasSplit = descCargas.split("|");

                if (descCargasSplit != "") {
                    var countTR = 0;

                    for (var i = 0; i < descCargasSplit.length; i++) {
                        if ((descCargasSplit.length - 1) == i)
                            fnInsRow("tblStatusCargaDetalhe", countTR++, "<b>" + descCargasSplit[i] + "</b>", "<b>Em Execução...</b>");
                        else
                            fnInsRow("tblStatusCargaDetalhe", countTR++, descCargasSplit[i], "Concluído");
                    }
                }
                else {
                    fnInsRow("tblStatusCargaDetalhe", 0, "<b>" + descCargas + "</b>", "<b>Em Execução...</b>");
                }

                document.getElementById('hdnDescLogCarga').value = '@Model.txtDescLogCargas';
                document.getElementById('hdnCodCarga').value = '@Model.codCarga';
            }

            document.getElementById('chkProcessar').value = "@Model.codCarteira";
            document.getElementById('ordem').value = '@Model.ordem';
            document.getElementById('dtResultado').value = '@Model.dtResultado.ToString("d/M/yyyy")';

            document.getElementById('acao').value = "carga_detalhe";

            document.formCargaGeral.submit();    
        </script>
    }
    else if (Model.acaoProcessamento.Equals("Carga concluída"))
    {                    
        <script type="text/javascript">
            fnDesabilitaObjetos();

            document.getElementById('trBotao').style.display = "none";
            document.getElementById('tdBotao').style.display = "none";

            document.getElementById('divStatusProc').style.display = "block";
            document.getElementById('tdStatusCarga').style.fontWeight = "bold";
            document.getElementById('tdStatusCarga').style.color = "#483D8B";
            document.getElementById('tdStatusCarga').innerHTML = "Concluído";

            fnSplitDescricao('@Model.txtDescLogCargas', 'tblStatusCargaDetalhe', 'hdnDescLogCarga');        

            document.getElementById('trBotao').style.display = "block";
            document.getElementById('tdBotao').style.display = "block";  
        </script>
    }
}

<script type="text/javascript">
    document.getElementById("dtResultado").focus();    
</script>          


@section Scripts {
    @Scripts.Render("~/bundles/jqueryaction")   
    @Scripts.Render("~/bundles/jquerymask")      
    @Scripts.Render("~/bundles/jqueryvalform")      
}

@Styles.Render("~/Content/css")   